{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zimeoo, La première plateforme de création gratuite de sites web professionels dans la sous région.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="site web création gratuit afrique hébergement" name="keywords">
  <meta content="La première plateforme de création gratuite de sites web professionels dans la sous région" name="description">
  <meta name="google-signin-client_id" content="994612940708-gektglnf9cibpmgk49g87tnr55os9fc7.apps.googleusercontent.com">
  <!-- Favicons -->
  <link href="{% static 'img/zimeoo-logo-mini.png' %}"  rel="icon">
  <link href="{% static 'img/zimeoo-logo-mini.png' %}"  rel="apple-touch-icon">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"  rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}"  rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}"  rel="stylesheet">


    <style>
      .invisible{
        display: none;
        visibility: invisible;
        transition : all 2.5s;
      }
      .disabled {
        pointer-events: none;
        cursor: default;
      }

      
    </style>

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/#fd7e14   #ffc107
  ======================================================= -->
</head>

<body>
  <header id="header" class="fixed-top" style=" box-shadow : 0px 2px 4px rgba(34,82,193, 0.3); ">
    <div class="container" >

      <div class="logo float-left" style="">
        <a href="#"  class="scrollto" style="height: 100%"><img src="{% static 'img/zimeoo-logo.png' %}" style="height: 50%; "  alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li id="home" class="active"><a href="/" >Accueil</a></li>
          
          <li id="showDashboard" class="invisible"><a href="dashboard" >Espace Client</a></li>
          <li id="loginLi"><a href="#" data-toggle="modal" data-target="#loginModal" >connexion</a></li>
          <li class="drop-down"></li>
          
          <li class="drop-down"><a href="" >Zimeoo</a>
            <ul>
              <li><a href="#about" >A propos</a></li>
              <li><a href="#why-us" >Services</a></li>
              <li><a href="#clients" >Outils</a></li>
              <li><a href="#contact" >Contactez nous</a></li>
              <!---li><a href="#" >Blog</a></li>
              <!-li ><a href="#" onclick="signOut();">Sign out</a></li>
              <li class="drop-down"><a href="{% static '#' %}" >Drop Down 2</a>
                <ul>
                  <li><a href="{% static '#' %}" ></a></li>
                  <li><a href="{% static '#' %}" >Deep Drop Down 2</a></li>
                </ul>
              </li--->
              
            </ul>
          </li>
          <li id="user" class="drop-down invisible"><a href="#" class="name" >  </a>
            <ul>
              <li><a href="#"  id="logout">Déconnexion</a></li>
              <!--li ><a href="#" onclick="signOut();">Sign out</a></li-->
            </ul>
          </li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

{% block content %}{% endblock %}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Ziméoo</h3>
            <p>Nous sommes la première plateforme de création gratuite de sites web professionels dans la sous région ouest africaine.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><a href="#" >A propos de nous</a></li>
              <li><a href="#" >Services</a></li>
              <li><a href="#" >Termes de services</a></li>
              <li><a href="#" >Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactez Nous</h4>
            <!--p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p-->
            <p>
              <strong>Contact Whatsapp:</strong> +229 67714229<br>
              <strong>Email:</strong> service@zimeoo.com<br>
            </p>

            <div class="social-links">
              <a href="#"  class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#"  class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#"  class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#"  class="whatsapp"><i class="fa fa-whatsapp"></i></a>
              <a href="#"  class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Notre Newsletter</h4>
            <p>Abonnez vous a notre Newsletter ou notre liste de diffusion whatsapp pour recevoir régulièrement les informations sur nos produits.</p>
              <label for="validationServerUsername">Email ou numéro whatsapp</label>
              <div class="input-group">  
                <input type="text" class="form-control" style="border-radius: 0px"  placeholder="Email ou numéro whatsapp" aria-describedby="inputGroupPrepend3" required>
                <div class="input-group-prepend">
                  <button class="btn btn-primary">S'abonner</button>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="useConditionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
                <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Conditions générales d'utilisation</h5>  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body" style="color: black">
                Les
                présentes conditions générales d’utilisation (ci-après « CGU ») 
               régissent l’accès et l’utilisation du site internet www.zimeoo.com 
               et ses sous domaines (ci-après « Site Internet ») et les applications 
               mobiles CoinAfrique (ci-après les « Applications »).<br><ul><li>1.&nbsp;&nbsp;&nbsp;Informations Légales</li><span>CoinAfrique
                offre, à travers son site internet www.coinafrique.com et ses sous 
               domaines (ci-après « Site Web ») et ses applications mobiles (ci-après 
               les « Applications »), un service de consultation et de dépôt de petites
                annonces destiné aux particuliers et professionnels.</span><span>Le 
               Site Internet et les Applications sont éditées par COINAFRIQUE (ci-après
                « CoinAfrique »), SAS immatriculée au registre du commerce de Paris en 
               France, sous le numéro 521 724 336 et dont le siège social est situé en 
               France, 69 rue Saint Lazare, 75009 Paris.</span><span>Numéro de TVA intracommunautaire : 1270491400017</span><span>Le Directeur de la publication du Site Internet et des Applications est Monsieur Matthias Papet</span><span>Vous pouvez nous contacter par email à l’adresse contact@coinafrique.com</span><br><li>2.&nbsp;&nbsp;&nbsp;Objet</li><span>Les
                présentes conditions générales d’utilisation (ci-après « CGU ») 
               régissent l’accès et l’utilisation du Site Web et des Applications 
               éditées par CoinAfrique.</span><br><li>3.&nbsp;&nbsp;&nbsp;Acceptation des CGU</li><span>Toute
                personne qui accède et utilise le service de CoinAfrique via le Site 
               Web ou les Applications est considérée comme un utilisateur (ci-après « 
               Utilisateur ») et déclare avoir pris connaissance des présentes CGU et 
               les accepter expressément sans réserve et/ou modification de quelque 
               nature que ce soit. </span><span>Les présentes CGU sont donc pleinement opposables aux Utilisateurs.</span><span>CoinAfrique
                se réserve la possibilité de modifier, à tout moment, tout ou partie 
               des CGU. Les Utilisateurs sont invités à consulter régulièrement les 
               présentes CGU afin de prendre connaissance de changements éventuels 
               effectués. L'utilisation du Site Web et des Applications par les 
               Utilisateurs constitue l'acceptation par ces derniers des modifications 
               apportées aux CGU.</span><br><li>4.&nbsp;&nbsp;&nbsp;Conditions d’utilisation du Site Web et des Applications</li><span>-&nbsp;&nbsp;Compte utilisateur</span><span>L’utilisation
                de certaines fonctionnalités nécessite à l’Utilisateur de s’inscrire et
                de créer un compte via son numéro de téléphone, son compte Facebook ou 
               son compte Google. Dans le cas où l’Utilisateur utilise un réseau social
                pour se connecter, il autorise implicitement CoinAfrique à accèder et à
                utiliser certaines informations selon les paramètres de confidentialité
                définis dans le réseau social correspondant. </span><span>En créant un 
               compte, l’Utilisateur s’engage à fournir dans le formulaire 
               d’inscription et/ou de compte des informations exactes, actuelles et 
               complètes à son sujet.</span><span>En créant un compte, l’Utilisateur 
               assume la pleine et entière responsabilité de la protection de la 
               confidentialité de ses identifiants de connexion et des activités 
               réalisées en utilisant ce compte. </span><span>Toute perte, détournement
                ou utilisation par un tiers ? des identifiants de connexion et leurs 
               éventuelles conséquences relèvent de la seule et entière responsabilité 
               de l’Utilisateur.</span><span>-&nbsp;&nbsp;Fonctionnalités accessibles aux Utilisateurs des Applications non connectés à un compte</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Consulter toutes les annonces </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Rechercher et Filtrer les annonces par catégorie, prix, date, localisation </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Contacter le vendeur via son numéro de téléphone ou email si renseigné</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Partager l’annonce sur les réseaux sociaux (Facebook, Whatsapp, Twitter)</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Signaler un abus</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Voir le profil public des Utilisateurs</span><span>-&nbsp;&nbsp;Fonctionnalités accessibles aux Utilisateurs de l’application Android connectés à un compte</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Publier des annonces</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Publier ses annonces sur sa page Facebook</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Consulter toutes les annonces </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Rechercher et Filtrer les annonces par catégorie, prix, date, localisation. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Contacter le vendeur via une messagerie de chat privée</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Contacter le vendeur via son numéro de téléphone ou email si renseigné</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Partager l’annonce sur les réseaux sociaux (Facebook, Whatsapp, Twitter)</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Signaler un abus</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Voir le profil public des Utilisateurs</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Voir qui de ses amis et contacts utilise le service CoinAfrique</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Inviter ses amis et contacts à rejoindre le service CoinAfrique</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Suivre l’activité d’autres Utilisateurs</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Donner une note à l’acheteur ou le vendeur avec qui une vente a été conclue</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Sauvegarder des annonces et les retrouver dans ses favoris</span><span>-&nbsp;&nbsp;Fonctionnalités accessibles aux Utilisateurs du Site Web :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Consulter toutes les annonces diffusées sur CoinAfrique</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Rechercher et Filtrer les annonces par catégorie, prix et date. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Contacter le vendeur via son numéro de téléphone</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Partager l’annonce sur Facebook</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Signaler un abus</span><span>-&nbsp;&nbsp;Modération des annonces</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;CoinAfrique
                informe l’Utilisateur, qui l’accepte, que pour des raisons d’ordre 
               technique, son annonce pourra ne pas être diffusée instantanément après 
               sa publication.</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;CoinAfrique
                se réserve le droit de supprimer, sans préavis ni indemnité ni droit à 
               remboursement, toute Annonce qui ne serait pas conforme aux Règles de 
               diffusion et/ou qui serait susceptible de porter atteinte aux droits 
               d'un tiers.</span><span>-&nbsp;&nbsp;Notification des abus</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                Utilisateurs peuvent signaler un contenu abusif à partir du Site Web et
                des Applications, soit en cliquant sur le lien « signaler » situé sur 
               chaque page d’annonce, soit par email en cliquant sur le lien « contact »
                </span><span>-&nbsp;&nbsp;L’Utilisateur est informé qu'en publiant son 
               annonce sur CoinAfrique, celle-ci est susceptible d'être partagée par 
               tout Utilisateur sur les réseaux sociaux (Facebook, Instagram, Whatsapp,
                Twitter) , via le bouton de partage concerné intégré dans les pages.</span><span>-&nbsp;&nbsp;Toute annonce publiée sera diffusée sur le Site Web et les Applications. </span><span>-&nbsp;&nbsp;CoinAfrique
                se réserve le droit, à tout moment, de modifier ou interrompre 
               l'accessibilité de tout ou partie de son service et/ou du Site Web et 
               des Applications.</span><br><li>5.&nbsp;&nbsp;&nbsp;Droits de propriété intellectuelle</li><span>CoinAfrique
                SAS ( Paris, France) est le détenteur directement ou indirectement  de 
               tous les droits de propriété intellectuelle (tels que notamment droits 
               d'auteur, droits voisins, droits des marques, droits des producteurs de 
               bases de données) portant tant sur la structure que sur les contenus du 
               Site Web et des Applications et notamment les images, sons, vidéos, 
               photographies, logos, marques, éléments graphiques, textuels, visuels, 
               outils, logiciels, documents, données, etc. (ci-après désignés dans leur
                ensemble " Données "). Ces Données sont mises à disposition des 
               Utilisateurs, à titre gracieux, pour la seule utilisation de 
               CoinAfrique. Les Utilisateurs s'engagent à ne modifier en aucune manière
                les Données.</span><span>Toute utilisation non expressément autorisée 
               des Données du Site Internet et des Applications entraîne une violation 
               des droits d'auteur et constitue une contrefaçon. Elle peut aussi 
               entraîner une violation des droits à l'image, droits des personnes ou de
                tous autres droits et réglementations en vigueur. Elle peut donc 
               engager la responsabilité civile et/ou pénale de son auteur.</span><span>Il
                est interdit à tout Utilisateur de copier, modifier, créer une œuvre 
               dérivée, inverser la conception ou l'assemblage ou, de toute autre 
               manière, tenter de trouver le code source, vendre, attribuer, sous 
               licencier ou transférer de quelque manière que ce soit tout droit 
               afférent aux Données.</span><span>Tout Utilisateur de CoinAfrique s'engage notamment à ne pas :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Utiliser ou interroger CoinAfrique pour le compte ou au profit d'autrui ;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Extraire,
                à des fins commerciales ou non, tout ou partie des informations ou des 
               annonces présentes sur le Site Web et les Applications ;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Reproduire
                sur tout autre support, à des fins commerciales ou non, tout ou partie 
               des informations ou des annonces  présentes sur le Site Web et les 
               Applications permettant de reconstituer tout ou partie des fichiers 
               d'origine ;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Utiliser un
                robot, notamment d'exploration (spider), une application de recherche 
               ou récupération de sites Internet ou tout autre moyen permettant de 
               récupérer ou d'indexer tout ou partie du contenu du Site Web et des 
               Applications. </span><span>Toute reproduction, représentation, 
               publication, transmission, utilisation, modification ou extraction de 
               tout ou partie des Contenus et ce de quelque manière que ce soit, faite 
               sans l'autorisation préalable et écrite de CoinAfrique est illicite. Ces
                actes illicites engagent la responsabilité de ses auteurs et sont 
               susceptibles d'entraîner des poursuites judiciaires à leur encontre et 
               notamment pour contrefaçon.</span><span>Les marque et logo CoinAfrique 
               sont des marques déposées. Toute reproduction totale ou partielle de la 
               marque et/ou du logo sans l'autorisation préalable et écrite de 
               CoinAfrique est interdite.</span><span>CoinAfrique SAS est producteur 
               des bases de données du service CoinAfrique. En conséquence, toute 
               extraction et/ou réutilisation de la ou des bases de données au sens des
                articles L 342-1 et L 342-2 du code de la propriété intellectuelle est 
               interdite.</span><span>Le contenu des Annonces déposées appartient aux 
               Utilisateurs, néanmoins, en déposant des annonces sur CoinAfrique, 
               l’Utilisateur donne :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;A
                CoinAfrique SAS le droit d’exploitation non exclusif, transférable, 
               sous licenciable, à titre gracieux, pour le monde entier sur (i) 
               l’ensemble du contenu des annonces et notamment sur les photographies, 
               textes, vidéos, illustrations, marques, logos, titres (ci-après le « 
               Contenu »), au fur et à mesure de leur publication ainsi (ii) qu’une 
               licence sur l’ensemble des droits de propriété intellectuelle afférant 
               au Contenu et notamment sur les droits d’auteurs sur les éléments 
               utilisés dans son annonce, tels que les photographies, textes, vidéos, 
               dessins, illustrations, éléments sonores, et ce pour toute la durée 
               légale de ses droits de propriété intellectuelle et pour le monde 
               entier.</span><span>Les droits ainsi concédés incluent le droit de 
               reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre
                dérivée, traduire tout ou partie du Contenu par tous procédés, sous 
               quelque forme que ce soit et sur tous supports (numérique, imprimé…) 
               connus ou inconnus à ce jour, dans le cadre du service CoinAfrique ou en
                relation avec l’activité de CoinAfrique SAS, et ce à des fins 
               commerciales ou non et notamment publicitaires, ainsi que dans le cadre 
               d’une diffusion sur les réseaux sociaux sur lesquels CoinAfrique est 
               présent et notamment ses pages Facebook, Instagram et Twitter.</span><span>L’Utilisateur
                accorde son consentement à la reprise de son Annonce et du Contenu de 
               cette dernière sur les réseaux sociaux, notamment Facebook, Whatsapp, 
               Instagram et Twitter. Par conséquent, l’Annonceur atteste avoir pris 
               connaissance des conditions générales d’utilisation des sites Facebook, 
               Instagram et Twitter et en accepter les termes, particulièrement en 
               matière de réutilisation du Contenu et des données personnelles.</span><span>Au
                titre de cette licence, CoinAfrique SAS, sans que cela ne crée à sa 
               charge une obligation d’agir, est en droit de s’opposer à la 
               reproduction et l’exploitation par des tiers non autorisés des annonces 
               diffusées sur le Site Web et les Applications et de leur Contenu.</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Aux
                autres utilisateurs, le droit non exclusif d’accéder au Contenu via le 
               Site Web et les Applications de CoinAfrique et d’utiliser et de 
               représenter le Contenu dans la mesure autorisée par les fonctionnalités 
               de CoinAfrique, et ce pour le monde entier. </span><br><li>6.&nbsp;&nbsp;&nbsp;Exclusion &amp; Exonération de responsabilité</li><span>CoinAfrique
                est une plateforme mettant en relation des acheteurs et des vendeurs de
                produits neufs ou d’occasion. Par conséquent, CoinAfrique n’est pas le 
               propriétaire des objets mis en vente ou vendus sur son Site Web et ses 
               Applications et n’a aucun contrôle sur ceux-ci. </span><span>CoinAfrique
                SAS, en sa qualité d'hébergeur est soumise à un régime de 
               responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi 
               nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</span><span>CoinAfrique
                 ne saurait donc en aucun cas être tenue responsable du contenu des 
               annonces publiées par les Utilisateurs et ne donne aucune garantie, 
               expresse ou implicite, à cet égard.</span><span>CoinAfrique n’intervient
                pas dans les transactions de vente, qui ont lieu exclusivement entre 
               les acheteurs et les vendeurs, et ne vérifie pas les produits mis en 
               vente par les Utilisateurs sur le Site Web et les Applications. Par 
               conséquent CoinAfrique ne peut être tenu responsable, directement ou 
               indirectement, en cas de litige entre les parties.</span><span>Toutes 
               les informations des produits publiées sur les Applications et le Site 
               Web sont fournies et publiées par l’Utilisateur vendant le produit. Par 
               conséquent, CoinAfrique ne peut garantir la qualité de celles-ci, ainsi 
               que la fidélité des images et/ou des descriptions publiées par les 
               vendeurs.</span><span>Toute réclamation ou tout litige pouvant 
               apparaître entre les Utilisateurs du service doivent être réglés 
               directement entre eux, en s’engageant à ne pas porter atteinte à 
               CoinAfrique.</span><span>CoinAfrique n’assume aucune responsabilité ni 
               garantie sur les produits vendus via son Site Web et ses Applications. 
               Les transactions ont lieu et sont décidées exclusivement entre les 
               Utilisateurs acheteur et Utilisateurs vendeur. </span><span>CoinAfrique 
               peut contenir des liens hypertextes redirigeant vers des sites exploités
                par des tiers. Ces liens sont fournis à simple titre d'information. 
               CoinAfrique n'exerce aucun contrôle sur ces sites et décline toute 
               responsabilité quant à l'accès, au contenu ou à l'utilisation de ces 
               sites, ainsi qu'aux dommages pouvant résulter de la consultation des 
               informations présentes sur ces sites. La décision d'activer ces liens 
               relève de la pleine et entière responsabilité de l'Utilisateur.</span><span>D’autres
                part, aucun lien hypertexte ne peut être créé vers CoinAfrique sans 
               l'accord préalable et exprès de CoinAfrique SAS (Paris, France). Si un 
               internaute ou une personne morale désire créer, à partir de son site, un
                lien hypertexte vers CoinAfrique et ce quel que soit le support, il 
               doit préalablement prendre contact avec CoinAfrique SAS en lui adressant
                un email à l'adresse suivante contact@coinafrique.com. Tout silence de 
               CoinAfrique SAS devra être interprété comme un refus.</span><span>L’accès
                au Site Web et aux Applications par l’Utilisateur ne saurait constituer
                pour CoinAfrique l’obligation de contrôler l’absence de virus 
               informatiques ou autres programmes et éléments dangereux et 
               malveillants. Dans tous les cas, il incombe à l’Utilisateur de disposer 
               des outils appropriés pour détecter et supprimer les virus et  
               programmes informatiques malveillants .</span><span>CoinAfrique n’assume
                aucune responsabilité quant aux dommages impactant les logiciels et les
                équipements informatiques des Utilisateurs ou des tiers au cours de 
               l’utilisation des services proposés sur le Site Web et les Applications.
                </span><span>Par ailleurs, la société CoinAfrique ne pourra pas être 
               tenue responsable des dommages ou préjudices subis par l’Utilisateur en 
               cas de coupure ou de déconnexion sur les réseaux de télécommunications, 
               pouvant entraîner la suspension, l’annulation ou l’interruption du 
               service du Site Web ou des Applications.</span><br><li>7.&nbsp;&nbsp;&nbsp;Données à caractère personnel</li><span>En utilisant nos services, vous acceptez que CoinAfrique collecte certaines de vos informations personnelles. </span><span>Nous
                collectons automatiquement des données lorsque vous utilisez nos 
               services (applications, site internet), notamment : votre adresse IP, le
                type de connexion internet, le  type de navigateur, le  type 
               d’ordinateur ou téléphone. Nous collectons aussi certaines données via 
               les cookies. </span><span>Nous collectons aussi des données que vous 
               renseignez lors de la création ou de la mise à jour de votre compte 
               utilisateur ou en postant une annonce. En créant, complétant votre 
               compte ou postant une annonce, vous acceptez de nous communiquer un 
               certain nombre d’informations personnelles comme vos noms, prénoms, 
               votre civilité, votre numéro de téléphone, votre email, vos centres 
               d’intérêt, votre localisation, des photos,… . </span><span>Enfin, en 
               utilisant notre messagerie Chat, vous acceptez de nous communiquer vos 
               messages et contenus privés partagés. Conformément à l’article 68 de la 
               loi pour une République numérique, les messages et contenus échangés 
               entre les Utilisateurs via la messagerie relèvent de la correspondance 
               privée, sont confidentiels et seront traités comme tel par CoinAfrique.</span><span>Les
                données collectées sont utilisées en premier lieu pour nous permettre 
               de vous offrir la meilleure expérience possible, et notamment publier 
               vos annonces, géolocaliser vos annonces, gérer votre compte, répondre à 
               vos questions, acheminer les messages envoyés via notre Chat.</span><span>Nous
                pouvons utiliser ces données (hors contenus messagerie Chat traités 
               comme confidentiels) dans le but de vous offrir des contenus plus 
               adaptés à vos besoins et centres d’intérêts comme des contenus 
               publicitaires, suggestions d’annonces, propositions commerciales et/ou 
               promotionnelles. </span><span>A l’exception des messages et contenus de 
               la messagerie Chat, les données personnelles collectées par CoinAfrique 
               pourront être transmises à des fins commerciales, à titre gratuit ou 
               onéreux, à des tiers contractuellement liés à la société Coinafrique. </span><span>La durée de conservation des données à caractère personnel varie en fonction du type de données et de leur utilisation : </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                données de connexion, identité, adresse IP, coordonnées sont conservées
                1 an à compter de leur collecte</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                données relatives à la gestion de votre compte sont conservées pour une
                durée de 5 ans à compter de sa suppression</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Cookies : 2 ans</span><span>Droit d’accès, de modification, d’opposition et de suppression :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Conformément
                à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 
               2004, les données personnelles collectées par CoinAfrique font l’objet 
               d’une déclaration auprès de la CNIL.</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Vous
                disposez, conformément à la loi « informatique et libertés » du 6 
               janvier 1978 modifiée en 2004, d’un droit d’accès, de rectification et 
               d’opposition sur les données vous concernant.</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Vous
                devez adresser votre demande, par écrit, accompagnée de la photocopie 
               de votre titre d'identité portant votre signature, et indiquer votre 
               adresse pour la réponse, à Coinafrique. Soit par courrier électronique à
                l'adresse électronique contact@coinafrique.com, soit par courrier 
               postal à Société Coinafrique, 69 rue Saint Lazare, 75009 Paris, France. 
               Votre identité sera vérifiée par mesure de sécurité avant de vous 
               laisser accéder à vos données personnelles.</span><li>8.&nbsp;&nbsp;&nbsp;Cookies</li><span>Le
                Site Web utilise des cookies. Un cookie est une information déposée sur
                le disque dur de votre terminal par le serveur du site visité. Il 
               contient plusieurs données : le nom du serveur qui l'a déposé ; un 
               identifiant sous forme de numéro unique ; éventuellement une date 
               d'expiration.</span><span>Notre Site Web utilise des cookies de session,
                indispensables à son bon fonctionnement, des cookies de mesures 
               d'audience et des cookies tiers (pour les réseaux sociaux et la 
               publicité).</span><span>Vous êtes libre d'accepter, de refuser et 
               désactiver les cookies en configurant votre navigateur, étant précisé 
               que la désactivation des cookies est susceptible de modifier vos 
               conditions d’accès au service, voir de vous priver d’accès au service.		
                         </span><li>9.&nbsp;&nbsp;&nbsp;Autonomie des dispositions et juridiction compétente</li><span>Si
                une partie des présentes CGU devait s'avérer illégale, invalide ou 
               inapplicable, pour quelle que raison que ce soit, les dispositions en 
               question seraient réputées non écrites, sans remettre en cause la 
               validité des autres dispositions qui continueront de s'appliquer.</span><span>Les présentes CGU sont soumises au droit français.</span></ul></div></div></li></a><a class="link" href="#RD" onclick="$('#RD').modal();"><li><i class="icon ion-record"></i><span>Règles de diffusion</span><div class="modal round" id="RD"><div class="modal-content"><p class="title center">Règles de diffusion</p><p>En
                tant qu’Utilisateur de CoinAfrique, vous vous engagez à utiliser le 
               service en conformité avec toutes les lois applicables, la morale et 
               l’ordre public. Vous vous engagez à faire un usage approprié du service 
               et de ne pas l’utiliser pour effectuer des activités illicites ou 
               illégales, qui enfreignent ou détournent les droits d’un tiers, ou qui 
               portent atteinte à toute autre règle de droit applicable.</p><br><ul><li>1.&nbsp;&nbsp;&nbsp;Conseils et bonnes pratiques pour le dépôt d’une annonce :</li><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Le titre de l’annonce doit être clair et précis</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Le texte de l’annonce doit être en lien avec le produit ou service proposé.  </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;L’annonce doit être déposée dans la catégorie correspondante au type de bien ou service</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Ne pas poster plusieurs fois la même annonce : supprimer l’annonce avant de la reposter. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Indiquer un prix TTC et proposer un prix juste pour vendre au plus vite.  </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                annonces doivent comporter au moins une photo ou une image. Les 
               photographies ou images doivent représenter le bien à vendre et ne 
               doivent pas être utilisées pour illustrer plusieurs annonces. Il est 
               interdit d’insérer des photos d’Enfants mineurs reconnaissables.</span><br><li>2.&nbsp;&nbsp;&nbsp;Contenus, produits et services non autorisés sur CoinAfrique</li><span>Toute
                annonce contenant des éléments de texte (mots, expressions, phrases… 
               etc.) qui sembleraient contraires aux dispositions légales ou 
               réglementaires, aux bonnes mœurs, aux présentes règles de diffusion ou 
               susceptibles de troubler ou choquer les lecteurs sera refusée par 
               CoinAfrique sans que cela donne un quelconque droit à indemnité au 
               profit de l’Utilisateur.</span><span>Voici une liste non exhaustive des produits, biens et services non autorisés sur CoinAfrique :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout contenu à caractère politique, sectaire, discriminatoire, sexiste</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout
                contenu encourageant, glorifiant ou pouvant constituer une forme de 
               racisme, violence, intolérance, xénophobie, ou terrorisme, ou 
               enfreignant les droits de l’Homme et les libertés</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout
                contenu trompeur, faux, malhonnête, fallacieux, ambigu, inexact, ou 
               dont ne serait-ce qu’un élément puisse induire en erreur </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout contenu pornographique, érotique, fétichiste, ou sexuellement explicite. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout
                contenu associé de quelque manière que ce soit à des services pour 
               “adultes” incluant services sexuels, escorte, amitié, massage, services 
               de compagnie, ou lié à toute interaction sexuelle ou de prostitution. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout contenu associé à une personne de moins de 18 ans</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Boissons alcoolisées</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tabac, drogue et objets associés, substances dangereuses et illicites</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les médicaments, les soins et les appareils vendus sous prescription médicale</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Cosmétiques ou produits de beauté entamés hors de leur emballage d’origine. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Produits
                amincissants, compléments alimentaires ou produits présentés comme 
               étant miraculeux</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les produits et objets rappelés et retirés du circuit commercial de vente. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tous les types de produits ou services illégaux</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les objets volés </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les produits de contrefaçon</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les produits sous embargos</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Éléments dangereux qui peuvent nuire à l’intégrité physique d’une personne. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout objet militaire n’ayant pas été démilitarisé</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les équipements de surveillance électronique</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                uniformes, pièces d’identité, badges de police ou d’autres services de 
               sécurités ou gouvernementaux</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les armes blanches et les armes à feux</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les feux d’artifice, les appareils de destruction et les explosifs</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les outils de piratage informatique</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Le sang, les fluides corporels et parties du corps humain</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Tout produit ou service faisant l’objet d’une régulation par le gouvernement. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les bons alimentaires ou tout autre aide gouvernementale. </span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Appel aux dons financiers privés ou à but humanitaire</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les actions et autre produits financiers</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les tickets de loterie, les participations à des tirages au sort et les machines à sous</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Avis de recherche d’une personne</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les espèces végétales et animales protégées, menacées ou prélevées dans leur milieu naturel</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les pesticides</span><span>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;Les
                documents d’identité, les registres comptables personnels, les 
               renseignements personnels, les bases de données sous toute formes			</span></ul></div></div></li></a></ul>
            </div>
            
            <!--div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div-->
          </div>
        </div>
      </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Zimeoo</strong>. Tous droits réservés
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="{% static 'https://fayomihorace.zimeoo.com/' %}" >fayomihorace</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="{% static '#' %}"  class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" ></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'lib/easing/easing.min.js' %}" ></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}" ></script>
  <script src="{% static 'lib/wow/wow.min.js' %}" ></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}" ></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}" ></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" ></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" ></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}" ></script>
  <script src="{% static 'js/jquery.cookie.js' %}" ></script>
  <!-- Contact Form JavaScript File -->
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <script src="{% static 'contactform/contactform.js' %}" ></script>
  
  <script>
    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
      $(function(){
        $('p').css('font-size','1.1em');
        $('#logout').bind('click', function(){
          //alert('ii');
          console.log('login with google : '+$.cookie('zimeooUserGoogle'))
         // if ($.cookie('zimeooUserGoogle')== 'true'){
            //$.cookie('zimeooUserGoogle', "false" , { expires: 20000 });
            var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
         // }
            var data = {
                    zimeooUser: $.cookie('zimeooUser')
                  };
            var request;
           request = $.ajax({
                url: "deconnexion",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                method: "POST",
                data: data,
                datatype: "json"
            });

            request.done(function(response) {
              window.location.href = '/' ;
            });
          
            
      });

  });
    </script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}" ></script>

</body>
</html>
