{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


        <script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
        <script src="{% static 'js/jquery.cookie.js' %}" ></script>

  <!--End Zimeoo ressources-->
</head>
<style>
button{
    background-color:  rgb(0,74,153);
    color: white;
}
button:hover{
    box-shadow : 0px 0px 1px   1px rgb(0,64,128);
}
</style>
<body>
    <h3><span style="color: rgb(243, 120, 32); font-weight: bold"> Zimeoo</span> ,<span style="color: rgb(0,74,153);"> File uploader</span></h3>
    <hr>
    <div class="">
                <form method="post"  action="http://127.0.01:8000/v1.0/uploads" enctype="multipart/form-data" >
                  {{ fileForm.as_p }}
                  <button id='submit' type="button">Ajouter</button>
                </form>
    </div>

</body>
<script>
    var url = window.location.href.split('?')[1]
$.cookie('zimeooUser', url.split('&')[0] )
//$.cookie('zimeooUserToken', url.split('&')[1] )
//$('form').append('<input type="hidden" name="LTI-Authorization" value="'+url.split('&')[1]+'">')
function upload(event) {
    event.preventDefault();
    var data = new FormData($('form').get(0));

    $.ajax({
        url: 'http://127.0.01:8000/v1.0/uploads' ,
        type: "POST",
        data: data,
        cache: false,
        headers: {"Authorization": "Bearer "+url.split('&')[1]},
        processData: false,
        contentType: false,
        success: function(data) {
            alert('success');
        }
    });
    return false;
}
console.log('work')
$('#submit').click(function(e){
    console.log('worked')
    upload(e);
})
</script>
</html>
