function refreshToken(){
    console.log("refresh Token")
          //TRY to refresh token
          $.ajax({
            url: "/v1.0/user/login/token/refresh",
            method: "POST",
            data: {"refresh": $.cookie('zimeooUserRefresh') }
          }).done(function(r){
                  console.log('refreshhh  ok')
                  $.cookie('zimeooUserToken', r.access);
                  //manage()
      
          }).fail(function() {
            var url = window.location.href.split('/')
            console.log('return to home')
            if ( url[url.length - 2 ] != "v1.0" ) window.location.href = '/v1.0';
          });
}
    
function refreshTokenDelay(delay){
    setInterval(function(){
      refreshToken()
    },delay);
}


var url = window.location.href.split('?')[1]
$.cookie('zimeooUser', url.split('&')[0] )
$.cookie('zimeooUserRefresh', url.split('&')[1] )

var url2 = window.location.href.split('/')

for(i = 0; i< url2.length; i++){
  if ( url2[i][0]== 's' && url2[i][1]== 'i' && url2[i][2]== 't' && url2[i][3]== 'e' && url2[i][4]== '_' ){
      $.cookie('zimeooCurrentSite', url2[i].split('_')[1] )
      console.log('zimeoo Current site  : '+ $.cookie('zimeooCurrentSite') )
      //break
  }
  //break
}
refreshToken()
refreshTokenDelay(30*60*1000)
manage()
function manage(){
    $(function(){
        console.log("manage")
      site_id = $.cookie('zimeooCurrentSite')
      var data = { id: site_id }
      getImages(data, site_id)
        $('footer').after('<div id="container-floating" class="zimeooSetting"><div class="nd3 nds zimeooSetting" data-toggle="tooltip" data-placement="left" data-original-title="Reminder"><h6 class="letter zimeooSetting" contenteditable="false">Aide &nbsp;<i class="fa fa-help zimeooSetting" contenteditable="false"></i></h6></div>    <div class="nd1 nds zimeooSetting" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><h6 class="letter zimeooSetting" data-toggle="modal" data-target="#saveModal" id="endEdit" contenteditable="false">Terminer <i class="fa fa-save zimeooSetting" contenteditable="false"></i></h6> </div>    <div id="floating-button" data-toggle="tooltip" class=" zimeooSetting" data-placement="left" data-original-title="Create"><p class="plus zimeooSetting" style="font-size: 1.3em" contenteditable="false">Action </p> <img class="edit zimeooSetting" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"></div></div>  <div class="modal fade bd-example-modal-lg zimeooSetting" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="editImageModal" style="display: none;" aria-hidden="true">      <div class="modal-dialog" role="document"><div class="modal-content">              <div class="modal-body ">                  <form id="form-uploader"><div class="form-group">   <label for="exampleFormControlFile1">Sélectionnez une image</label>                          <input type="file" style="border-radius: 5px; background-color: #f1b602; color: white" class="form-control-file" id="imgEditFile">                <input id="csrf-token" type="hidden" name="csrf-token" value="J9D5bELgA1HjVNp0UqkftbRGSZ3L3f5Rzrq7S4PltdiSYVAolNRC0G0qkA3mLgi2"><hr>                          <img id="choiceImg" class="tooltipstered zimeooSetting" style="max-width: 465px;" src="">                          <div class="col-12"><div class="progress waiting invisible" style="width: 100%; border-radius: 4px; margin-top: 10px">                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>                            </div></div>                          <hr>                          <button style="width: 20%;  margin-left: 58%" type="button" class="btn btn-primary" data-dismiss="modal" rigth="">Annuler</button>                          <button style="width: 20%;" class="btn btn-secondary save" type="submit" rigth="">valider</button>                        </div>                  </form>                 </div>          </div>        </div>    </div>    <div class="modal fade zimeooSetting" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px; display: none;" aria-modal="true">        <div class="modal-dialog" role="document">          <div class="modal-content">            <div class="modal-header">              <h5 class="modal-title" id="exampleModalLabel" spellcheck="false" contenteditable="false">Enregistrer</h5>             </div>            <div class="modal-body">              Vous allez enregistrer les modifications et actualiser votre site web.            </div>            <div class="modal-footer">              <button type="button" class="btn btn-secondary quitOk invisible">Oui</button>              <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>              <button type="button" class="btn btn-primary save ">Enregistrer</button>              <button type="button" class="btn btn-secondary quit ">Juste Quitter</button>            </div></div>        </div>      </div>      <div class="modal fade zimeooSetting" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">          <div class="modal-dialog" role="document">            <div class="modal-content">              <div class="modal-header">                <h5 class="modal-title" id="exampleModalLabel" spellcheck="false" contenteditable="false"> Quitter sans enregistrer </h5>                           </div>              <div class="modal-body" style="color: red; font-weight: bold">                Vous allez quitter sans enregistrer. Toutes vos modifications seront perdus. VOulez vous continuer ?              </div>              <div class="modal-footer">                <button type="button" class="btn btn-secondary quitOk ">Oui</button>                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>              </div>            </div>          </div></div>');
        //$('.zimeooHeader').after('');

        // get images list
        $('.zimeooSetting * ').addClass('zimeooSetting');

        //only  one element will have ""zimeooCurrentElement class""
        $('*').on('mouseenter', function(){
            $('.zimeooCurrentElement').removeClass('zimeooCurrentElement')
                $(this).addClass('zimeooCurrentElement')
        })
        
        $('*').on('mouseenter', function(){ 
                if (  $(this).hasClass('zimeooCurrentElement') && ( $(this).css('background').split('url(').length >1  ||  $(this).css('background-image').split('url(').length >1) ){
                    console.log('contain url');
                    $(this).tooltipster({theme: 'tooltipster-punk'})
                    .tooltipster('content', "Faites un simple click pour changer l'image !");
                }  
        });

        $('*').on('mouseenter', function(){ 
                if (  $(this).find('img').attr('src') !=  undefined ){
                    $(this).tooltipster({theme: 'tooltipster-punk'})
                    .tooltipster('content', "Faites un simple click pour changer l'image !");   
                }
        });

        $('*').on('click',function(){ 
            if (  $(this).hasClass('zimeooCurrentElement') && ($(this).css('background').split('url(').length >1  )  ){
                //$('#editImageModal').modal('show');
                  $('#imgModal').modal('show');
                        $(".backgroundInEdit").removeClass('backgroundInEdit');
                  $(".backgroundImgInEdit").removeClass('backgroundImgInEdit');
                $(".backgroundImgAllInEdit").find('img').removeClass('backgroundInAllEdit')
                $('.imgInEdit').removeClass('imgInEdit');
                $(this).addClass('backgroundInEdit');
            }
          else if (  $(this).hasClass('zimeooCurrentElement') && ($(this).css('background-image').split('url(').length >1  )  ){
                    //$('#editImageModal').modal('show');
                        $('#imgModal').modal('show');
                        $(".backgroundInEdit").removeClass('backgroundInEdit');
                    $(".backgroundImgInEdit").removeClass('backgroundImgInEdit');
                    $(".backgroundImgAllInEdit").find('img').removeClass('backgroundInAllEdit')
                    $('.imgInEdit').removeClass('imgInEdit');
                    $(this).addClass('backgroundInEdit');
            }  
            else if (  $(this).find('img').attr('src') !=  undefined  ){
                    //$('#editImageModal').modal('show');
                    $('#imgModal').modal('show');
                    $(".backgroundInEdit").removeClass('backgroundInEdit');
                    $(".backgroundImgInEdit").removeClass('backgroundImgInEdit');
                    $(".backgroundImgAllInEdit").find('img').removeClass('backgroundInAllEdit')
                    $('.imgInEdit').removeClass('imgInEdit');
                    $(this).find('img').addClass('backgroundInAllEdit');
            }  
        });
        
        $('a:not(.zimeooSetting), h1:not(.zimeooSetting), h2:not(.zimeooSetting), h3:not(.zimeooSetting), h4:not(.zimeooSetting), h5:not(.zimeooSetting), h6:not(.zimeooSetting), p:not(.zimeooSetting), i:not(.zimeooSetting), div:not(.zimeooSetting), span:not(.zimeooSetting), button:not(.zimeooSetting)').on('mouseenter',function(){
            //console.log('mousenenter')
            
            var clone = $(this).clone();
            $('.zimeooTextInEdit').removeClass('zimeooTextInEdit');

            var zimeooEditZone = $('<div id="zimeooEditZone" class="d-flex justify-content-center "></div>')
            var textEditButton = $('<button  style="font-weight: bold; font-size: 15px ; max-height: 50px" value="text" class=" zimeooSetting" > Edition avancé <i class="fa fa-edit"></i> </button>').on('click',function(){
                console.log('click edit')
            })
            var plusButton = $('<button  style="font-weight: bold; font-size: 15px" value="plus" class=" zimeooSetting" ><i class="fa fa-plus"></i> </button>').on('click',function(){
                //$('.zimeooCurrentElement #zimeooEditZone').remove()
                console.log('click clone')
                $('.zimeooCurrentElement').after(clone)
            })
            var deleteButton  = $('<button  style="font-weight: bold; font-size: 15px" value="delete" type="button" class=" zimeooSetting" ><i class="fa fa-trash"></i> </button>').on('click',function(){
                $('.zimeooCurrentElement').remove()
               
            })
            //zimeooEditZone.append(textEditButton)//.append(plusButton).append(deleteButton)
         // if( $(this).hasClass('zimeooCurrentElement') ) {
                  $(this).css('border','1px solid gray').css('border-radius','4px').css('box-shadow','0 10px 29px 0 rgba(68, 88, 144, 0.5)').addClass('zimeooTextInEdit').append( zimeooEditZone );
            //}
      
        }).on('click',function(){  
            $(this).attr('contenteditable','true');
            $(this).focus();
            }).on('mouseleave',function(){
            $(this).css('border','0px solid gray').css('box-shadow','0 0  0 rgba(68, 88, 144, 0.1)');
            $(this).find('#zimeooEditZone').remove()
            });/*.on('input',function(){
            console.log('Hey, somebody changed something in my text!');
            });*/

            $('#zimeooEditZone button').on('click',function(){
                alert($(this).val())
            });

            $('a, h1, h2, h3, h4, h5, h6:not(.zimeooSetting), p:not(.zimeooSetting), i:not(.zimeooSetting), span:not(.zimeooSetting), button:not(.zimeooSetting), div:not(.zimeooSetting) ').attr('spellcheck','false').tooltipster({
                theme: 'tooltipster-punk', animation: 'fade'}).tooltipster('content', 'Faites un click pour modifier le texte');
                

        
        $('a:not(.zimeooSetting), button:not(.zimeooSetting)').on('click',function(e){
            e.preventDefault();
        });

        $('#editModal #save').on('click',function(){
            $('#inEdit').text($('#editModal #exampleFormControlTextarea1').val()).attr('id','');
            $('#editModal #exampleFormControlTextarea1').val("");
            $('#editModal').modal('hide');
        });
        $('#saveModal .quitOk, #saveModal .end ').addClass('invisible');

        
        $('#saveModal .quit').on('click',function(){
            $('#saveModal ').modal('hide');
            $('#quitModal ').modal('show');
        });
        $('#quitModal .quitOk').on('click',function(){
            window.close();
        });


        $( "#saveModal .save" ).on('click',function() {
            $('#saveModal').modal('hide');
            $('body').removeClass('modal-open').css('padding-right','0px');
            $('.modal-backdrop').remove();
            $('a, h1, h2, h3, h4, h5, h6:not(.zimeooSetting), p:not(.zimeooSetting), i:not(.zimeooSetting), span:not(.zimeooSetting)').attr('spellcheck','false').removeClass('tooltipstered');
            $('#saveModal').css('display','none').css('aria-modal','false');

            $('a, h1, h2, h3, h4, h5, h6, p, i, span').attr('contenteditable','false');
                
            var request;
                    var data = {
                                site: $('html').html(),
                                siteID: $.cookie('zimeooCurrentSite')
                                };
                    request = $.ajax({
                        url: "/v1.0/site/update",
                        method: "POST",
                        headers: {"Authorization": "Bearer "+$.cookie('zimeooUserToken')},
                        data: data,
                        datatype: "json"
                    });
                    request.done(function(response) {
                        if(response=='success'){
                            $('.zimeooSetting').remove(); 
                            //window.top.close();
                            window.location.href = window.location.href ;//'/dashboard';
                            console.log("yeah");
                        }  
                        console.log("response"+ response);
                    });
        });
        
        $('img:not(.zimeooSetting)').tooltipster({theme: 'tooltipster-punk'})
        .tooltipster('content', "Faites un simple click pour changer l'image !").on('click',function(e){
            e.preventDefault();
            //$("#editImageModal img").fadeIn("fast").attr('src', $(this).attr('src'));
            //$('#editImageModal').modal('show');
          $('#imgModal').modal('show');
            $(".backgroundInEdit").removeClass('backgroundInEdit');
          $(".backgroundImgInEdit").removeClass('backgroundImgInEdit');
            $(".backgroundImgAllInEdit").find('img').removeClass('backgroundInAllEdit')
            $('.imgInEdit').removeClass('imgInEdit');
            $(this).addClass('imgInEdit');
        });
      
        
        
        /*$('.zimeooSection').tooltipster({
            theme: 'tooltipster-punk', animation: 'fade',
            content: $('<button onclick="zimeooEditBackImg()" style="color:white; background-color:#212529; border:1px solid white; border-radius: 5px; padding: 5px" class="zimeooBackImg">clickez ici  pour changer l'+"'"+'image en arrière plan !</button>'),
            interactive: true
        }).on('mouseenter', function(){
            $(".backgroundInEdit").removeClass('backgroundInEdit');
          $(".backgroundImgInEdit").removeClass('backgroundImgInEdit');       
            $('.imgInEdit').removeClass('imgInEdit');
            $(this).addClass('backgroundInEdit');
        });
        */


        $('#endEdit').on('click',function(){
            $('#saveModal').modal('show');
        });

        $('#editImageModal, #imgModal').on('hidden.bs.modal', function() {
            $('.imgInEdit').removeClass('imgInEdit');
        });
      
        $('#imgEditFile').change(function(){
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $("#choiceImg").fadeIn("fast").attr('src',URL.createObjectURL(event.target.files[0]));
            $.cookie('zimeooCurrentImgEditPath',URL.createObjectURL(event.target.files[0]));
            //console.log( '1: '+$.cookie('zimeooCurrentImgEditPath'));
        });

        $('#csrf-token').val( $.cookie('zimeooUserToken') );
        var draceditor   = $('#form-uploader');
        
    });
}
function zimeooEditBackImg(element){
   //$('#editImageModal').modal('show');
   $('#imgModal').modal('show');
};
function getImages(data, site_id){
  $.ajax({
    url: "/v1.0/site/images",
    method: "GET",
    headers: {"Authorization": "Bearer "+$.cookie('zimeooUserToken')},
    data: data,
    datatype: "json"
  }).done(function(response) {
  
  $('#imgModal #images').html('');
  images = response.split('\n')
  //console.log('images '+images)
  for(i = 1; i< images.length-1;  i++){
          var img= images[i]
          //console.log('image '+i+" : "+img)
          var name = img.split('/')[img.split('/').length-1].split('&&&id')[0]
          var path = img.split('&&&id')[0]
          var line= $('<tr style="border-bottom: 1px solid gray">'+
          '<td scope="row" class="text-center">'+name +'</td>'+
          '<td scope="row" class="text-center"><Button class="btn btn-success choiceImg" id="/'+path +'" > Choisir &nbsp <i class="fa fa-check"></i> </Button></td>'+
          '<td class="text-center" ><img class="img-fluid tooltipstered" style="max-height: 150px" src="/'+path+'" alt=""></td></tr>')
          $('#imgModal #images').append(line);
          $('.choiceImg').on('click',function(e) {
        //$('#form-uploader').on('submit',function(e){
            e.preventDefault();
           console.log('img edit')
            $('.imgInEdit').attr('src',  $(this).attr('id') );
            $('.backgroundInEdit').css('background', 'url('+$(this).attr('id')+')');
                $('.backgroundImgInEdit').css('background-image', 'url('+$(this).attr('id')+')');
            $(".backgroundImgAllInEdit").find('img').attr('src',  $(this).attr('id') );
            $('.imgInEdit').removeClass('imgInEdit');
            $('.backgroundInEdit').removeClass('backgroundInEdit');
                $('.backgroundImgInEdit').removeClass('backgroundImgInEdit');
            $(".backgroundImgAllInEdit").find('img').removeClass('backgroundInAllEdit')
            $('#imgModal').modal('hide');
            
        });
    }
    
  $('.loadingImages').addClass('invisible');
  });
}

/*function timer(){
   setInterval(function(){

       var currentTime = new Date();
       var hours = currentTime.getHours();
       var minutes = currentTime.getMinutes();
       var seconds = currentTime.getSeconds();

       // Add leading zeros
       minutes = (minutes < 10 ? "0" : "") + minutes;
       seconds = (seconds < 10 ? "0" : "") + seconds;
       hours = (hours < 10 ? "0" : "") + hours;

       // Compose the string for display
       var currentTimeString = hours + ":" + minutes + ":" + seconds;
       console.log(currentTimeString);

   },1000);
}

/*
<div class="d-flex flex-column  zimeooEditTextZone" style="padding: 0; margin: 0; border: 2px solid white;  box-shadow: 0px 0px 0px rgba(68, 88, 144, 0.1) ;">
            <div class="p-2 " style="padding: 0; margin: 0; background: white; ">
              <button  style="font-weight: bold; " class="zimeooNormal zimeooSetting" >Options d'édition avancés <i class="fa fa-edit"></i> </button>
            </div>
            <div class="p-2 "  id="zimeooEditTextZone">
              <p class="text-white-50" spellcheck="false" contenteditable="false">
                Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                <a href="http://startbootstrap.com/template-overviews/grayscale/" spellcheck="false" class="" contenteditable="false">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.
              </p>
            </div>
          </div>*/
