{% extends "api_v1/base.html" %}

{% block content %}
{% load static %}

<script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
<script src="https://cdn.kkiapay.me/k.js"></script>
<!---link rel="stylesheet" href="{% static 'assets/css/docs.theme.min.css' %}"-->
   <link rel="stylesheet" href="{% static 'assets/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/owlcarousel/assets/owl.theme.default.min.css' %}">
<script src="https://apis.google.com/js/platform.js" async defer></script>r
    <script src="{% static 'assets/owlcarousel/owl.carousel.js' %}"></script>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/hover.css' %}" rel="stylesheet">
    
    <style type="text/css">
      .modal-body {
          max-height: calc(100vh - 148px);
          overflow-y: auto;
          overflow-x:auto;
      }
      .modal {
          width:100%;
          overflow-x:auto;
          word-wrap:normal;
      }
    </style>
    
<main id="main">
    <section  style="margin-top: 120px">
      
        <div class="section-header ">
          <h3 class="title">Mes Sites Web</h3>
          <!--kkiapay-widget  amount="1" ey="f82b2ca0430411e99c469b9ef913dc42"
            callback="https://kkiapay-redirect.com" /-->
        </div>
        <div class="alert alert-danger " id="infoNoDomain" style="margin-left:5%; margin-right:5%" role="alert">
            Vous avez créez un ou des sites sans nom de domaine ou vous n'avez pas renouvellé un ou plusieurs noms de domaines. Ces sites seront disponibles avec le lien <strong><span style="color: rgb(3, 2, 73)">NomDuSite.zimeoo.com</span></strong>   seulement pendant <strong><span style="color: rgb(3, 2, 73)">14 jours</span></strong>. Vous devez commander un nom de domaine pour vos sites pour rendre votre site professionel accessible. Il vous suffit de cliquer sur le bouton <strong><span style="color: #dc3545">Ajouter un nom de domaine</span></strong> ou  sur <strong><span style="color: green">Domaine</span></strong> pour renouveller vos domaines. <br>
            <a class="btn btn-info" data-toggle="collapse" href="#infoDomainName" role="button" aria-expanded="false" aria-controls="collapseExample ">
                En savoir plus
              </a>
              <a href="#" class="infoNoDomain btn btn-dark"  >
                  J'ai compris
                </a>
          </div>
          <div class="collapse" id="infoDomainName" style="margin-left:5%; margin-right:5%;">
              <div class="" style="">
                Un nom de domaine représente votre identitée sur internet. Exemple :  <strong style="color: rgb(3, 2, 73)">zimeoo.com</strong>  ou <strong style="color: rgb(3, 2, 73)">google.com.</strong> Vous devez commander un nom de domaine, et le renouveller chaque année. Votre nom de domaine vous permet d'avoir des emails professionnels gratuits comme <strong><span style="color: rgb(3, 2, 73)">monNom@zimeoo.com</span></strong>. <br>
                L'hébergement de votre site+ Nom de domaine en <strong style="color: rgb(3, 2, 73)">.com</strong> coûte seulement <strong style="color: rgb(3, 2, 73)">17.000 FCFA/an</strong> chez zimeoo. Avec un domaine en <strong style="color: #f1b602">.bj</strong> cela revient à <strong style="color: rgb(3, 2, 73)">20.000 FCFA/an</strong>  Zimeoo vous permet d'avoir un sous domaine <strong><span style="color: rgb(3, 2, 73)">NomDuSite.zimeoo.com</span></strong> valable pour un(01) mois pour tester votre site. 
              </div>
            </div>
				<div class="section-header newSite  invisible">
            <hr>
						<h3><button  type="button" class="btn btn-primary  " id="newSiteBut"> <i class="fa fa-plus"></i> Nouveau Site</button>
            <button  type="button" class="btn btn-warning "  style="background: rgb(233, 100, 28); color: white"> <i class="fa fa-cogs"></i> &nbsp   Tutoriels &nbsp &nbsp </button>
          </h3>
          </div>
          <div class="section-header CreateSite1 invisible ">
            <h3><button  style="color: rgba(68, 68, 68, 0.8); width: 130px" type="button" class="btn btn-outline-warning prev"> <i class="fa fa-chevron-left"></i> Précédent</button>
                  </div>
          <div class="section-header CreateSite2 invisible ">
              <h3><button  style="color: rgba(68, 68, 68, 0.8); width: 130px" type="button" class="btn btn-outline-warning prev"> <i class="fa fa-chevron-left"></i> Précédent</button>
                <button style="color: rgba(68, 68, 68, 0.8); width: 130px" type="button" class="btn btn-outline-warning next"> Voir Tout <i class="fa fa-chevron-right"></i> </button></h3>
            </div>
            <div class="" >
              <div class="row CreateSite2 invisible" style=" padding-bottom: 5%; padding-left: 5%; padding-right: 5% ">
                  <div class="item" id="itemTest"> 
                    </div>
                  
              </div>  
          </div>

          <div class="section-header CommandSite invisible ">
            <h3><button  style="color: rgba(68, 68, 68, 0.8); width: 130px" type="button" class="btn btn-outline-warning prev"> <i class="fa fa-chevron-left"></i> Précédent</button>
              </h3>
          </div>
          <div class="" >
            <div class="row CommandSite invisible" style=" padding-bottom: 5%; padding-left: 5%; padding-right: 5% ">
              <div class="col-md-3"></div>
              <div class="form col-md-6 myValidation" >
                <form  >
                  <div class="form-group">
                        <input class="form-control siteName" rows="5"   data-rule="minlen:3" data-msg="Le nom du site doit avoir au moins 3 caractères"  placeholder="Nom de votre Site"></input>
                        <div class="validation"></div>
                      </div>
                  <div class="form-group">
                    <textarea class="form-control description" name="message" rows="5"   data-rule="minlen:20" data-msg="La description doir avoir au moins 20 caractères"  placeholder="Description de votre Projet"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="custom-file" >
                        <input style="width: 100%"  type="file" class="form-control-file btn btn-secondary commandFile" id="exampleFormControlFile1">
                        <label  placeholder="Cahier de charge"></label>
                      </div>
                  </div>
                  
                  <div class="alert alert-danger invisible " role="alert">
                      Veuillez entrer le nom du site et la description !
                    </div>
                  <div class="text-center"><button id="sendCommand" class="btn btn-success send" style=" 
                    padding: 8px 30px; transition: 0.3s;" type="btn" title="Send Message">Envoyez</button></div>
                </form>
              </div>

            </div>  
          </div>
          <div class="loadingSite d-flex justify-content-center" >
              <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div class="section-header noSite invisible">
              <h3 class="" style="font-size: 1.1em; padding: 3%; color: rgba(68, 68, 68, 0.8) ">Vous n'avez actuellement aucun site</h3>
            </div>
        <div class="row siteList"  style="width: 100%; padding-bottom: 5%; padding-left: 5%; padding-right: 5%">
          <div class="itemTest"> 
              
          </div>
        </div>
       

        <div class="row">
                  <div class="row CreateSite1 invisible" style="padding-left: 8%;padding-right: 8%; padding-bottom: 5%;">
                    <div class="mycard2 col-md-6 col-12" style="width: 18rem; ">
                      <div class="card-body site">
                        <h4 class="card-title">Portfolio</h4>
                        <p class="card-text">Créer gratuitement un site pour présenter votre entreprise, vos services ou vous même sans avoir besoin de connaissances en développement web.</p>
                        <button value="portfolio" class="btn btn-dark site">Sélectionner</button>
                      </div>
                    </div>
                    <div class="mycard2 col-md-6 col-12" style="width: 18rem; ">
                      <div class="card-body command">
                        <h4 class="card-title">Commande</h4>
                        <p class="card-text">Commander un site plus personnalisé à notre équipe de developpeurs et d'ingénieurs à un prix très abordable (satisfait ou remboursé). </p>
                        <button value="command" class="btn btn-info command">Sélectionner</button>
                      </div>
                    </div>
                      <div class=" col-md-6 col-12" style="width: 18rem; ">
                          <!--div class="card-body" >
                            <h4 class="card-title">Blog</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button  class="btn btn-primary site bounce_button" value="blog">Sélectionner</button>
                          </div-->
                        </div>
                        
                          <div class=" col-md-6 col-12" style="width: 18rem; ">
                              <!--div class="card-body">
                                <h4 class="card-title">Boutique en Ligne</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button value="shop" class="btn btn-warning site bounce_button">Sélectionner</button>
                              </div-->
                            </div>
                            
                        
                  </div>


        </div>

     
    </section><!-- #contact -->
    <div class="modal fade" id="siteStateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Domaines</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead >
                  <tr>
                    <th scope="col" class="text-center">Domaine</th>
                    <th scope="col" class="text-center">Date de renouvellement</th>
                    <th scope="col" class="text-center">Renouveller</th>
                  </tr>
                </thead>
                <tbody id="domains">
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Détails du site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Aucune donnée. Veuillez commander un nom de domaine pour votre site en cliquant sur le bouton <span style="color: crimson">Ajouter un domaine</span>  !
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="seeImgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="" style="height: 100%%; width: 100%% "  alt="" class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

         <div class="modal fade" id="addImgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Upload de fichier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" id="uploader" enctype="multipart/form-data" >
                  {{ fileForm.as_p }}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="upload">Uploader</button>
              </div>
            </div>
          </div>
        </div>
 
        <div class="modal fade" id="addDomainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="color: #00366f">Ajout de Nom de Domain</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="input-group step1">
                          <input style="width: 70%; border-radius: 0px" type="text" class="form-control" id="domainNameInput" placeholder="nom de domaine" aria-describedby="inputGroupPrepend2" required>
                          <div class="input-group-prepend form-control" style="width: 30%; padding: 0px; border-radius: 0px">
                              <select style="width: 100%; border-radius: 0px"  class="tld" id="exampleFormControlSelect1">
                                  <option value=".bj_22 000 FCFA">.bj</option>
                                  <option value=".com_18 000 FCFA">.com</option>
                                  <option value=".bj_17 000 FCFA">.org</option>
                                  <option value=".bj_17 000 FCFA">.net</option>
                                </select>
                            </div>
                            <br><br>
                            
                            
                        </div>
                        <div class="row" style="margin:1%">
                            <input style="width: 100%; border:0px; border-bottom: 1px solid #00366f; border-radius: 0px; background-color: white; color:#00366f;" type="text" class="text-center form-control" id="domainName" placeholder="nom de domaine" aria-describedby="inputGroupPrepend2" disabled>
                        </div>
                        <div class="row text-center" style="margin:1%">
                            <h5 style="width: 100%; border:0px; color:#00366f; font-weight: bold; margin-top: 10px" class="text-center" id="price" ></h5>
                        </div>
                        <div class=" row waiting invisible" >
                          
                          <h6  class="text-center" style="width: 100%; border:0px;    font-size: 0.7">Patientez... Nous vérifions la disponibilité du domaine !</h6>
                        </div>
                        
                      </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-dark stop" >Annuler</button>
                  <button type="button" class="btn btn-success next">Continuer</button>
                </div>
              </div>
            </div>
          </div>
      <div class="modal fade bd-example-modal-sm" id="deleteSiteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSiteModal" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Suppression de site</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
            <div class="modal-footer">
                
              <button type="button" class="btn btn-primary"  data-dismiss="modal" style="width: 50%">Annuler</button>
              <button type="button" id="conf" class="btn btn-danger  conf" style="width: 50%">Confirmer </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade bd-example-modal-sm" id="deleteModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Voulez vous vraiment supprimer ? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
            <div class="modal-footer">
                
              <button type="button" class="btn btn-primary"  data-dismiss="modal" style="width: 50%">Annuler</button>
              <button type="button" id="" class="btn btn-danger  conf" style="width: 50%">Confirmer </button>
            </div>
          </div>
        </div>
      </div>

  </main>
 <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Suppression de site</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
          <div class="modal-body">
            
            <div>
                <div class="row">
                    
                    <div class="col-12 waiting invisible">
                      <br><h5 style="padding: 0px; margin: 0px"> Patientez ... </h5><br>
                      <h6 style="padding: 0px; margin: 0px; color: rgba(68, 68, 68, 0.75)"> Création et hébergement du  site </h6></div>
                      <br>
                      <div class="col-6 content">
                      <button type="button" class="btn btn-success siteName " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  style="color: white; margin: 2%; width: 100%">Choisir&nbsp; <i class="fa fa-check" ></i> </button>
                    </div>
                    <div class="col-6 content">
                      <button type="button" class="btn btn-primary see"  style="color: white; margin: 2%; width: 100%">Voir en démo &nbsp;<i class="fa fa-eye" ></i></button>
                    </div>
                </div>
                <div class="collapse content" id="collapseExample">
                    <div class="row siteAfter input-group mb-3" style="padding-left: 4%; padding-right: 0%; padding-top: 5%; border-radius: 5px; width: 100%">
                        <input type="text" id="siteName" class="form-control" placeholder="Nom de votre site" aria-label="Recipient's username" aria-describedby="button-addon2">
                       
                        <div class="input-group-append" >
                          <button class="btn btn-outline-secondary choice"   id="button-addon2">Terminer</button>
                        </div>
                      </div>
                      
                  </div>
            </div>
             

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              </div>
          <div class="modal-body">
            
            <div>
                <div class="row">
                    
                    <div class="col-12 waiting invisible">
                      <br><h5 style="padding: 0px; margin: 0px"> Patientez ... </h5><br>
                      <h6 style="padding: 0px; margin: 0px; color: rgba(68, 68, 68, 0.75)"> Création et hébergement du  site </h6></div>
                      <br>
                      <div class="col-6 content">
                      <button type="button" class="btn btn-success " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  style="color: white; margin: 2%; width: 100%">Choisir&nbsp; <i class="fa fa-check" ></i> </button>
                    </div>
                    <div class="col-6 content">
                      <button type="button" class="btn btn-primary see"  style="color: white; margin: 2%; width: 100%">Voir en démo &nbsp;<i class="fa fa-eye" ></i></button>
                    </div>
                </div>
                <div class="collapse content" id="collapseExample">
                    <div class="row siteAfter input-group mb-3" style="padding-left: 4%; padding-right: 4%; padding-top: 5%; border-radius: 5px">
                        <input type="text" id="siteName" class="form-control" placeholder="Nom de votre site" aria-label="Recipient's username" aria-describedby="button-addon2">
                       
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary choice"   id="button-addon2">Terminer</button>
                        </div>
                      </div>    
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>



 
  <div class="modal fade bd-example-modal-lg" id="modifySiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
            <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Gestion des Fichiers et des pages</h5>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body" >
          <div class="accordion" id="accordionExample">
            <div style="width: 100%">
                <div class="btn-group row" role="group" aria-label="Basic example" style="width: 100%; padding: 0;margin: 0">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Mes Pages Web
                    </button>
                    <button class="btn  btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Mes Images
                      </button>
                      <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Autres
                        </button>
                </div>
              
              <div id="collapseOne" class="collapse show row" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">Nom de la page</th>
                            <th scope="col" class="text-center">Modifier</th>
                          </tr>
                        </thead>
                        <tbody id="webpages">
                           <div class="loadingWebPages d-flex justify-content-center" >
                              <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                        </tbody>
                    </table>
                    <hr>
                      <!--div class="d-flex flex-row-reverse bd-highlight">
                        <button class="btn" >Enregistrer</button>
                      </div-->
                </div>
                
              </div>
              <div id="collapseTwo" class="collapse row" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">Nom</th>
                            <th scope="col" class="text-center">Image</th>
                            <th scope="col" class="text-center">Supprimer </th>
                          </tr>
                        </thead>
                        <tbody id="images">
                           <div class="loadingImages d-flex justify-content-center" >
                              <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                        </tbody>
                    </table>
                    <hr>
                      <div class="d-flex flex-row-reverse bd-highlight">
                        <button class="btn btn-success"  id="uploadImg" >Ajouter une image &nbsp <i class="fa fa-plus"></i> </button>
                        <button class="btn btn-secondary"  id="reloadImg" style="margin-right: 20px">Actualiser</button>
                        
                      </div>
                  </div>
              </div>
              <div id="collapseThree" class="collapse row" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                        <h4 class="text-center">Partie du site en construction...</h4>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
        
        <!--div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
      </div>
    </div>
  </div>

<div class="modal fade " id="becomePartnerModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
            <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Devenir Partenaire</h5>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="padding-left: 10%; padding-right: 10%; padding-bottom: 5%;">
          <h6 style="color: rgb(0,74,153); font-weight: bold">Devenez partenaire de zimeoo et gagnez de l'argent pour chaque client qui créera un compte grâce à votre lien, et qui créera un site avec nom de domaine. </h6>
          <hr>
           <button type="submit" id="becomePartnerButton"  class="btn  btn-block  authButton" > Continuer</button> 
            <br>
            <h6 class="text-center" style="font-size: 0.8em" >En utilisant nos services, vous acceptez nos  <a href="#"  data-toggle="modal" data-target="#useConditionsModal">conditions générales d'utilisation</a>  et indiquez que vous avez lu nos  <a href="#">règles de diffusion</a></h6>
        </div>
        
        <!--div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
      </div>
    </div>
  </div>

<div class="modal fade " id="welcomModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
            <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Bienvenu dans votre espace client</h5>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="padding-left: 10%; padding-right: 10%; padding-bottom: 5%;">
          <h6 style="color: rgb(0,74,153); font-weight: bold">Créez un site professionnel pour  présenter vos services, votre structure ou entreprise sans avoir besoin de connaissances en développment web. 

          <br> Pour vous aidez, nous mettons à  votre disposition des : 
          tutoriels écrits et/ou vidéos.
          <br> Un Blog pour vous aidez à mieux conaitre le doomaine du web
          <br> Un service clientèle disponible par mail ou par whatsapp en cliquant sur le bouton "Service Clientèle" pour répondre dans les meilleurs délais à toutes vos préoccupations.
          
        </h6>
          <hr>
           <button type="submit" id="becomePartnerButton"  class="btn  btn-block  authButton" > Continuer</button> 
            <br>
            <h6 class="text-center" style="font-size: 0.8em"> En utilisant nos services, vous acceptez nos  <a href="#"  data-toggle="modal" data-target="#useConditionsModal">conditions générales d'utilisation</a>  et indiquez que vous avez lu nos  <a href="#">règles de diffusion</a></h6>
        </div>
        
        <!--div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
      </div>
    </div>
  </div>

<div class="modal fade bd-example-modal-lg" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
            <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Gestion parrainage</h5>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body" >
          <div class="accordion" id="accordionExample2">
            <div style="width: 100%">
                <div class="btn-group row" role="group" aria-label="Basic example" style="width: 100%; padding: 0;margin: 0">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                        Mes Filieuls
                    </button>
                    <button class="btn  btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                        Paiements reçus
                      </button>
                      <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
                          Informations de parrainage
                        </button>
                </div>
              
              <div id="collapseOne2" class="collapse show row" aria-labelledby="headingOne" data-parent="#accordionExample2">
                <div class="card-body">
                      <!--div class="d-flex flex-row-reverse bd-highlight">
                        <div><button class="btn btn-primary zimeooPartnerGetMoney" >Retrait</button></div>
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                        <div ><h6 style="font-size: 30px"> Solde:  <span> 0 CFA</span>  </h6></div>
                      </div-->
                      <div class="input-group" style="width: 100%">
                        <input readonly type="text" value="Click Me To Copy" style="width: 70%; border-radius: 0px" class="allowCopy noselect  form-control" id="partnerLink" >
                          <div class="input-group-prepend form-control" style="width: 30%; padding: 0px; border-radius: 0px">
                              <button class="btn btn-success" id="copyPartnerLink" data-toggle="tooltip" data-placement="bottom" title="Copier le lien">Copier le lien de Parrainage</button>
                          </div>
                    </div>
                    
                    <table class="table">
                              <thead>
                                <tr style="border-top: 2px solid ">
                                  <th scope="col" class="text-center">Clients Parrainé</th>
                                  <th scope="col" class="text-center">Date création</th>
                                  <th scope="col" class="text-center">nombre de sites avec Domaine</th>
                                  <th scope="col" class="text-center">Paiement</th>
                                </tr>
                              </thead>
                              <tbody id="childs">
                                 <div class="loadingChilds d-flex justify-content-center" >
                                    <div class="spinner-border text-info" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                              </tbody>
                          </table>
                    
                  <hr>
                </div>
                
              </div>
              <div id="collapseTwo2" class="collapse row" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                  <div class="card-body">
                    
                    <tbody >
                           <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">Montant</th>
                            <th scope="col" class="text-center">Date de paiement</th>
                          </tr>
                        </thead>
                        <tbody id="paids">
                           <div class="loadingPaids d-flex justify-content-center" >
                              <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                        </tbody>
                    </table>
                    </tbody>
                  </div>
              </div>
              <div id="collapseThree2" class="collapse row" aria-labelledby="headingThree" data-parent="#accordionExample2">
                  <div class="card-body">
                        Pour chaque personne parrainée (filieul) qui créera un site avec nom de domaine, vous gagnerez un montant de 2500 FCFA. De plus, à chaque fois que vous parrainé 10 clients vous gagnez en plus 10.000 FCFA.

                        <h6 style="font-weight: bold"> Vous recevez votre paiement chaque samedi en fonction du nombre de personnes parrainés qui ont créer un ou des sites avec <span style="color: rgb(3, 2, 73)"> nom de Domaine</span> </h6>
                        <br>
                        Exemple 1: <br>
                        Vous avez parrainé 12 clients durant la semaine: vous gagnez 2000 par clients = 12*2000 = 20.000 FCFA
                        De plus vous avez parrainez plus de 10 personnes donc vous gagnez 10.000 FCFA en plus.
                        Total: vous gagnez 20.000 + 10.000 = 30.000 FCFA 
                        <hr>
                        <br>
                        Exemple 2: <br>
                        Vous avez parrainé 20 clients durant la semaine: vous gagnez 2000 par clients = 20*2000 = 40.000 FCFA
                        De plus vous avez parrainez 20 personnes donc vous gagnez 10.000 FCFA * 2 en plus (20.000).
                        Total: vous gagnez 40.000 + 20.000 = 60.000 FCFA 

                        <hr>
                        <br>
                        Exemple 2: <br>
                        Vous avez parrainé 25 clients durant la semaine: vous gagnez 2000 par clients = 25*2000 = 50.000 FCFA
                        De plus vous avez parrainez plus de 20 personnes donc vous gagnez 10.000 FCFA * 2 en plus (20.000).
                        Total: vous gagnez 50.000 + 20.000 = 70.000 FCFA 
                  </div>
              </div>
            </div>
            
          </div>
        </div>
        
        <!--div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
      </div>
    </div>
  </div>

  <script src="{% static 'js/main.js' %}" ></script>

  <script src="{% static 'js/dashboard/manage.js' %}" ></script>
  <script src="{% static 'js/dashboard/getSiteTemplatesAndSites.js' %}" ></script>

{% endblock %}
