{% extends "api_v1/base.html" %}
{% block content %}
{% load static %}
<!---script src="https://sdk.accountkit.com/en_US/sdk.js"></script-->
<!--script src="https://sdk.accountkit.com/fr_FR/sdk.js"></script--->
<link href="{% static 'css/googleAuth.css' %}" rel="stylesheet" type="text/css">
 
<script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
 <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="{% static 'contactform/contactform.js' %}" ></script>
<script type="text/javascript">
  var googleUser = {};
  var startApp = function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '994612940708-gektglnf9cibpmgk49g87tnr55os9fc7.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('customBtn'));
    });
  };

  function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {

          document.getElementById('name').innerText = "connexion avec google: " +
              googleUser.getBasicProfile().getName();
          var profile = googleUser.getBasicProfile();
          console.log("ID: " + profile.getId()); // Don't send this directly to your server!
          console.log('Full Name: ' + profile.getName());
          console.log('Given Name: ' + profile.getGivenName());
          console.log('Family Name: ' + profile.getFamilyName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail());
          
          var data = {type : "google", username: profile.getEmail(), partner: $.cookie('zimeooUserPartner'), };
                  var request;
                  request = $.ajax({
                      url: "/v1.0/user/register",
                      method: "POST",
                      data: data,
                      datatype: "json"
                  });

                  request.done(function(response) {
                      console.log("responseyyyy : "+ response);
                      var d = {
                          username: profile.getEmail(),
                          password: "zimeooGoogleAuth"
                      };
                      $.cookie('zimeooUser', profile.getEmail() );
                      login(d)
                  });
        }, function(error) {
          //alert(JSON.stringify(error, undefined, 2));
        });
  }

</script>

<script type="text/javascript">
  $(function(){
    
    $.ajax({
      url: "/v1.0/welcom/siteNb",
      method: "GET",
    }).done(function( data ) {
      $('#siteNb').text(data);
      });
  
  $.ajax({
      url: "/v1.0/welcom/commandNb",
      method: "GET",
    }).done(function( data ) {
      $('#commandNb').text(data);
      });
  $.ajax({
      url: "/v1.0/welcom/portfolioNb",
      method: "GET",
    }).done(function( data ) {
      $('#portfolioNb').text(data);
      });
    
  
  //console.log('zimeooUser : '+$.cookie('zimeooUser'));

  var u = window.location.href.split('?')
      if(u.length >1 &&  u[1]=='logout' ){
      console.log('logged out')
      $.cookie('zimeooUserRefresh',null)
      $.cookie('zimeooUserToken',null)
      var myNewURL = "/v1.0/";//the new URL
      var obj = { Title: "La première plateforme de création gratuite de sites web professionels dans la sous région", Url: myNewURL };      
      history.pushState(obj, obj.Title, obj.Url);  
      var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
          console.log('User signed out.');        
      });
  
  } else{
    var  justCheck= {
            executeFunction: function(){
            } 
          } 
          checkAuth(justCheck)
  }
  
            
  });

</script>

<style>
  .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: white;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left; 
        line-height: 24px;       
    }
	#loginModal  i, #registerModal  i {
		margin: 4px 10px  0 5px;
        min-width: 15px;
	}
   
</style>

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix" style=" padding-top: 10%; ">
    <div class="container" >

      <div class="intro-img">
        <img src="{% static 'img/intro-img32.png' %}"   alt="" class="img-fluid homeImg">
      </div>

      <div class="intro-info"  >
        <h5 ><span style="color: white; font-size: 1.8em; font-weight: bold; text-decoration: none" > Devenez un Pro </span>
          <br><br>
        <span style="color: rgba(220,220,200, 0.9); font-size: 1.3em">La première plateforme de création gratuite de sites web professionels dans la sous région.</span>
      </h5>
        
        <div>
          <a href="#"  class="btn-services scrollto" data-toggle="modal" data-target="#registerModal">Incrivez vous</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" style="padding-top: 0px; ">
      <div class="container" >
        <div class="row about-container">

          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img  src="{% static 'img/about11.jpg' %}"  style="width: 100%; height: 100%" class="img-fluid" alt="">
         
            </div>
            <!---div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Avec ziméoo, plus besoin de dépenser de l'argent pour créer :</h4>
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="{% static '' %}" >Un blog</a></h4>
                <p class="description">Créer gratuitement un blog, bénéficier de cours et d'outils gratuits pour rentabiliser votre blog. </p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="{% static '' %}" >Un portofolio</a></h4>
                <p class="description">Créer gratuitement un site web pour présenter facilement vos compétences, vos services et/ou. Ce type de site est adapté pour les entreprises, les cv personnels, les freelances.</p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="{% static '' %}" >Une boutique en ligne</a></h4>
                <p class="description">Créer gratuitement un site e-commerce pour votre boutique et profitez de nos services comme l'intégration de paiement en ligne Mobile Money, Flooz, Paypal, Carte Visa et de robots intelligents pour booster vos ventes en ligne.</p>
              </div>
            </div-->
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Créer gratuitement votre site web vous même, sans avoir besoin de connaissances en développeur web. </h4>
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="{% static '' %}" >Un outils pour créer gratuitement votre site professionel</a></h4>
                <p class="description">Vous êtes une entreprise, un prestataire de service, un freelance (travailleur libre) ou même un particulier. Créer gratuitement votre site pour présenter votre entreprise et vos  services. </p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="{% static '' %}" >Gestion et  Suivit</a></h4>
                <p class="description">Modifiez votre site gratuitement et à tout moment depuis votre espace clientèle et bénéficiez de suivit gratuit disponible par mail, whatsapp et même présentiel .</p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="{% static '' %}" >L'hébergement de votre site</a></h4>
                <p class="description">La possibilité d'héberger votre site gratuit à un prix imbattable.</p>
              </div>
            </div>
          </div>
          <div style="margin-top: 50px" class="col-lg-6 content order-lg-1 order-2">
            <h4>Ziméoo réduit vos dépences.</h4>
              <!--p>
                Pour mettre en place un site web il faut payer entre 200.000 et plus de 10 millions de FCFA pour la construction du site par un ou une équipe de développeurs, en fonction du type de site et de sa taille. En plus de cela, vous devez payez l'hebergement de votre nom de domaine,  l'entretient et d'autres services tel que le référencement qui peuvent aller de 15.000 FCFA à plus de 50.000 FCFA par an. 
              </p-->
              <p>
                Pour mettre en place un site web il faut payer une somme assez élevée pour la construction du site par un ou une équipe de développeurs, et  au moins 18.000 FCFA par an pour l'hebergement de votre site avec nom de domaine.
              </p>
              <p>
                Avec ziméoo, la création de votre site professionel  est totalement gratuite et vous payerez juste les frais pour l'hébergement de votre site  et votre domaine. Plus d'excuses pour ne pas avoir votre site web. 
              </p>
              <p>
                Ziméoo, c'est aussi une équipe de développeurs et d'ingénieurs. Vous pouvez commander un site sur mesure, plus personnalisé ou différent des sites courants.
              </p>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img  src="{% static 'img/about12.jpg' %}"  style="width: 100%; height: 100%" class="img-fluid" alt="">
         
          </div>
        </div>

       

      
      </div>
    </section><!-- #about -->

    
    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3 style="color: rgb(243, 120, 32)">Nos services</h3>
          <p>Béneficiez de note plateforme de création gratuite de site web et d'hebergement à moindre coût et d'autres services associés.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(243, 120, 32)">Création de Site Web</h5>
                <p class="card-text">Créer gratuitement votre site personnel en ligne en quelques clics.</p>
                <a href="{% static '#' %}"  class="readmore">En savoir plus </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(243, 120, 32)">Hébergement de Site</h5>
                <p class="card-text">Héberger votre site gratuit  à moindre coût avec avec nom de domaine, sécurisation https et un bon référencement.</p>
                <a href="{% static '#' %}"  class="readmore">En savoir plus </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(243, 120, 32)">Sites sur Commande</h5>
                <p class="card-text">Commander vos sites personnalisés à notre équipe de développeurs et d'ingénieurs. </p>
                <a href="{% static '#' %}"  class="readmore">En savoir plus </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span id="siteNb" data-toggle="counter-up">0</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span id="portfolioNb" data-toggle="counter-up">0</span>
            <p>Sites d'entreprises</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span id="commandNb" data-toggle="counter-up">0</span>
            <p>Commandes</p>
          </div>
  
        </div>

      </div>
    </section>

  

    
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Nos outils</h3>
          <p>Nous utilisons les meilleurs outils actuels disponibles pour vous fournir un service de qualité.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img style="width: 60%;" src="{% static 'img/outils/icon1.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img style="width: 60%;" src="{% static 'img/outils/icon2.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img  src="{% static 'img/outils/icon4.jpg' %}"  class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/outils/icon7.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/outils/icon10.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img  style="width: 60%;" src="{% static 'img/outils/icon5.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
        
          
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/outils/icon8.png' %}"  class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/outils/icon3.png' %}"  class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contactez Nous</h3>
        </div>

        <div class="row wow fadeInUp">

          <!--div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="{% static 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621' %}"  frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div-->
          <div class="col-lg-3">
            
          </div>

          <div class=" col-lg-6">
            <div class="row">
              <!--div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>A108 Adam Street, NY 535022</p>
              </div-->
              <div class="col-md-6 info">
                <i class="ion-ios-email-outline"></i>
                <p>service@zimeoo.com</p>
              </div>
              <div class="col-md-6 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+229 67 71 42 29</p>
              </div>
            </div>


            
            <div class="row" style="margin-bottom: 20px">
              <div class="col-md-6 info">
                <button class="btn btn-success whatsapp_contact" style="width:100%" data-toggle="collapse" href="#whatsapp_contact" role="button" aria-expanded="false" aria-controls="collapseExample">Par Whatsapp</button>
              </div>
              <div class="col-md-6 info">
                <button class="btn btn-primary email" style="width:100%" data-toggle="collapse" href="#email_contact" role="button" aria-expanded="false" aria-controls="collapseExample">Par Email <i class="fa fa-email"></i></button>
              </div>
            </div>

            <div class="form collapse myValidation" id="email_contact" >
              <div id="sendmessage">Votre message a bien été envoyé. Merci!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Veuillez saisir au moins 4 caractères" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre adresse email" data-rule="email" data-msg="Veuillez entrez une adresse email valide" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Le sujet doit avoir au moins 8 caractères subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Ecrivez nous votre message" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Envoyez le Message</button></div>
              </form>
            </div>
            <div class="form collapse" id="whatsapp_contact" >
              <form  class="">
                <!---div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom"   />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="number" class="form-control" name="number" id="number" placeholder="Votre Numéro whatsapp" data-rule="minlen:6" data-msg="Veuillez entrez un numéro valide" />
                    <div class="validation"></div>
                  </div>
                </div-->
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="" id="message" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button class="btn btn-success" style="border-radius: 20px; 
                  padding: 8px 30px; transition: 0.3s;" type="btn" title="Send Message">Envoyez le Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>


{% load static %}
<style type="text/css">
        .log_sign_btn{
          background-color: white;
          border-radius: 5px;
          color: rgb(0,64,128);
          padding: 10px;
          border :0px;
        }
        .log_sign_btn2{
          background-color: rgb(245,250,255);
          border: 0px;
          color: rgba(0,64,128,1);
        }
        .log_sign_btn2:hover{
          background-color: white;
          color: rgba(0,64,128,1);
          text-decoration: underline;
        }
        .log_sign_btn:hover{
          background-color: rgb(0,64,128);
          border-radius: 5px;
          transition: all 0.7s ease 0s;
          color: white;
          box-shadow : 0px 0px 1px   1px rgb(0,64,128);
          transition : all 0.5s ease 0s;
          padding: 10px;
          border :0px;
        }

        .white{
            color: white;
            transition: all 0.7s ease 0s;
        }
        .red{ border: 1px solid red; }
    </style>
  <!-- Login Modal -->
<div class="modal fade " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 50px; max-width: 70px "  alt="" class="img-fluid">
          <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Connexion</h5>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="padding-left: 10%; padding-right: 10%; padding-bottom: 5%;">
        {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
        {% else %}
        <div class="text-center social-btn" style="width: 100%">
          <h6 style="color: rgb(0,74,153); font-weight: bold">Se connecter avec</h6>
          <!---a href="#" class="btn btn-success btn-block text-center" onclick="smsLogin();"><i class="fa fa-phone"></i>  <b> Numéro & Whatsapp </b></a-->
            <!--a href="#" class="btn btn-primary btn-block text-center"><i class="fa fa-facebook text-center"></i><b>Facebook</b></a>
           <a href="#" id="google-login-button" class="btn btn-danger btn-block text-center"><i class="fa fa-google"></i>  <b>Google</b></a-->
            
           <div id="gSignInWrapper">
              <div id="customBtn" class="customGPlusSignIn">
                <span class="buttonText"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg> Google Gmail</span>
              </div>
            </div>
            <script>startApp();</script>

           
           
           <a href="#" class="btn-block" style="display: none"><input value="+1" style="width: 25%" id="country_code" />
            <input placeholder="phone number" id="phone_number" style="width: 50%"/>
            <button onclick="smsLogin();" style="width: 25%">Login via SMS</button></a> 
          </div>

      <div class="or-seperator"><i>Ou</i></div>
        <form id="loginForm"  >

            {% csrf_token %}

            {{ loginForm.as_p }}

            <button type="submit" id="loginButton"  class="btn  btn-block  authButton" > Se connecter</button> 
            <br>
            <h6 class="text-center" style="font-size: 0.8em" >En utilisant nos services, vous acceptez nos  <a href="#"  data-toggle="modal" data-target="#useConditionsModal">conditions générales d'utilisation</a>  et indiquez que vous avez lu nos  <a href="#">règles de diffusion</a></h6>
            
        </form>
        {% endif %}
      </div>
      
      <!--div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div-->
    </div>
  </div>
</div>




<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          <img src="{% static 'img/zimeoo-logo.png' %}" style="max-height: 52px; max-width: 70px "  alt="" class="img-fluid">
        <h5 class="modal-title " id="exampleModalLabel" style="color: rgb(0,74,153)">&nbsp Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div class="text-center social-btn">
              <h6 style="color: rgb(0,74,153); font-weight: bold">S'inscrire avec </h6>
              <!--a href="#" class="btn btn-success btn-block text-center" onclick="smsLogin();"><i class="fa fa-phone"></i>  <b> Numéro & Whatsapp </b></a-->
                  <a href="#" class="btn btn-primary btn-block text-center"><i class="fa fa-facebook text-center"></i><b>Facebook</b></a>
               <a href="#" id="google-login-button" class="btn btn-danger btn-block text-center"><i class="fa fa-google"></i>  <b>Google</b></a>
               
               <a href="#" class="btn-block" style="display: none"><input value="+1" style="width: 25%" id="country_code" />
                <input placeholder="phone number" id="phone_number" style="width: 50%"/>
                <button onclick="smsLogin();" style="width: 25%">Login via SMS</button></a> 
              </div>
              <div class="or-seperator"><i>Ou</i></div>
        <form id="registerForm" >

            {% csrf_token %}

            {{ registerForm.as_p }}

            <button type="submit" id="registerButton"  class="btn  btn-block  authButton" > S'inscrire</button>
            <br> 
            <h6 class="text-center" style="font-size: 0.8em" >En créant votre compte, vous acceptez nos  <a href="#"  data-toggle="modal" data-target="#useConditionsModal">conditions générales d'utilisation</a>  et indiquez que vous avez lu nos  <a href="#">règles de diffusion</a></h6>
            

        </form>
      </div>
      
      <!--div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div-->
    </div>
  </div>
</div>


<script type="text/javascript">

  //$("#LoginForm p").wrap('<div class="form-group"></div>');
  
  $loca = window.location.href.split('/');
  if($loca[$loca.length-1]=="logout" || $loca[$loca.length-1]=="home"|| $loca[$loca.length-1]=="Dashboard"|| $loca[$loca.length-1]=="welcome" ) {
      window.location.href = '/' ;
    }

    $('#whatsapp_contact').on('submit',function(e){
            e.preventDefault();
            var win = window.open('https://api.whatsapp.com/send?phone=22967714229&text='+ $(this).find('#message').val() , '_blank');
              if (win)  win.focus();
              else alert('Please allow popups for this website');
              
        //https://api.whatsapp.com/send?phone=22967714229&text=%22baba%22
    });
    
    function login(data){
      $.cookie('zimeooUserGoogle', 'false')
      var request;
            request = $.ajax({
		        url: "/v1.0/user/login/token",
                method: "POST",
                data: data,
                datatype: "json"
            });

            request.done(function(response) {
              $('#loginError').remove();
              
                $('#loginLi').remove();
                $('#user, #showDashboard').removeClass('invisible');
                $('#user .name').html( $('#id_username').val()+'&nbsp<i class="fa fa-user"></i>');
                
                $.cookie('zimeooUserToken', response.access);
                $.cookie('zimeooUserRefresh', response.refresh);
                //$('#loginButton').before('<div class="alert alert-success text-center" id="loginError" role="alert">Vous êtes connecté</div>');
                
                console.log('zimeooUserToken : '+$.cookie('zimeooUserToken'));
                window.location.href = '/v1.0/user/dashboard?'+$.cookie('zimeooUser')+'&' + response.access+'&refresh='+response.refresh
                //console.log('zimeooUser : '+$.cookie('zimeooUser'));
                //$('#loginModal').modal('hide');
            });
	        request.fail(function(xhr, status, error) {
              $('#loginError').remove();
              var err = JSON.parse(xhr.responseText).detail
              $('#loginButton').before('<div class="alert alert-danger text-center" id="loginError" role="alert">'+err +'</div>').html('Se connecter').attr('disabled', false)	
          });
    }
      $('#loginForm').on('submit',function(e){
            e.preventDefault();
            console.log('login ');
            //alert('baba');
            var data = {
                    username: $('#id_username').val(),
                    password: $('#id_password').val()
                  };
            $.cookie('zimeooUser', $('#id_username').val());
            $('#loginButton').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp Connexion...').attr('disabled', true)
            login(data);
      });

      $('#loginModal').on('hidden.bs.modal', function (e) {
        $('#loginButton').html('Se connecter').attr('disabled', false)    
      })
      $('#registerModal').on('hidden.bs.modal', function (e) {
        $('#registerButton').html("S'inscrire").attr('disabled', false)    
      })


        $('#registerForm').on('submit',function(e){
            e.preventDefault();
            $('#registerButton').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp Inscription...').attr('disabled', true)
            if($('#id_password2').val() !=  $('#id_password_conf2').val()  ){
              $('#registerError').remove()
              $('#registerButton').html("S'inscrire").attr('disabled', false)
              $('#registerButton').before('<div class="alert alert-danger text-center" id="registerError" role="alert">Les mots de passes de correspondent pas</div>');
              
            }else{
              var data = {
                    type: "register",
                    partner: $.cookie('zimeooUserPartner'),
                    firstname2: $('#id_firstname2').val(),
                    lastname2: $('#id_lastname2').val(),
                    username2: $('#id_username2').val(),
                    password2: $('#id_password2').val(),
                    password_conf2: $('#id_password_conf2').val()
                  };
            var request;
            request = $.ajax({
                url: "/v1.0/user/register",
                method: "POST",
                data: data,
                datatype: "json"
            });

            request.done(function(response) {
              //alert(response); 
              $('#registerError').remove();
              if (response.split('_')[0]=="Error"){
                $('#registerButton').before('<div class="alert alert-danger text-center" id="registerError" role="alert">'+response.split('_')[1]+'</div>');
                $('#registerButton').html("S'inscrire").attr('disabled', false)
              }
              else {
                var d = {
                    username: $('#id_username2').val(),
                    password: $('#id_password2').val()
                  };
                $.cookie('zimeooUser', $('#id_username2').val());
                login(d)
              }
            });
            }
            
    });

 // });
 
     
    
</script>

<script>
  $(function(){
     /*<div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>*/
            //alert( $('#loginModal p').text() );// 
            $('#loginModal p, #registerModal p').each(function( index ) {
              $(this).find('input').addClass('form-control');
               var content = $(this).html();
               $(this).replaceWith('<div class="form-group">'+content+'</div>');
            });
            $('#loginModal').on('shown.bs.modal', function() {
                $('.mobile-nav-overly, .mobile-nav, .mobile-nav-toggle').css('display','none');
                $(this).find('label').remove();
                $(this).find('#id_username').attr('placeholder','Identifiant');
                $(this).find('#id_password').attr('placeholder','Mot de passe');
            }).on('hidden.bs.modal', function() {
                $(' .mobile-nav, .mobile-nav-toggle').css('display','block');
            });
            $('#registerModal').on('shown.bs.modal', function() {
              $('.mobile-nav-overly, .mobile-nav, .mobile-nav-toggle').css('display','none');
                $(this).find('label').remove();
                $(this).find('#id_firstname2').attr('placeholder','Prénom');
                $(this).find('#id_lastname2').attr('placeholder','Nom');
                $(this).find('#id_username2').attr('placeholder','Email');
                $(this).find('#id_password2').attr('placeholder','Mot de passe');
                $(this).find('#id_password_conf2').attr('placeholder','Confirmation de Mot de passe');
            }).on('hidden.bs.modal', function() {
                $(' .mobile-nav, .mobile-nav-toggle').css('display','block');
            });
            

            //$('#loginModal p').wrap('<div class="form-group"></div>');
            $('#email_contact').bind('shown.bs.collapse', function(){
              $('#whatsapp_contact').collapse('hide');
            });
            $('#whatsapp_contact').bind('shown.bs.collapse', function(){
              $('#email_contact').collapse('hide');
            });

     

  });
</script>

  
{% endblock %}
