@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
    }
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform:     translateY(-30px);
      transform:         translateY(-30px)
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform:     translateY(-15px);
      transform:         translateY(-15px)
    }
  }
  .CreateSite2 .card img, .bounce_button {  
    box-shadow : 0px 8px 8px rgba(68, 68, 68, 0.6);
    border: 1px solid rgba(68, 68, 68, 0.1);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .CreateSite2 .card img:hover , .bounce_button:hover{
    box-shadow : 0px 20px 4px rgba(68, 68, 68, 0.6);
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
  .myValidation .validation{
    transition: 0.3s;
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  .card-text{
    color: rgba(68, 68, 68, 0.75);
  }

  .mycard, #infoNoDomain{
    transition: 0.5s;
  }
